<div class="form-container">
    <h5 class="modal-title">Escola</h5>
    <div class="row">

        <div>
            <div class="btn-group">
                <div class="dropdown" style="float: left; padding-right: 9px;">
                    <button type="button"
                            id="btn-escola-new-password"
                            class="btn btn-info"
                            data-bs-toggle="dropdown"
                            data-bs-autoClose="false"
                            aria-expanded="false">
                        <i class="bi bi-key" style="padding: 9px;"></i>
                        Nova palavra-chave
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item"
                               href="#">
                                <label for="escola-new-password">
                                    Nova palavra-chave
                                </label>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               href="#">
                                <input type="password"
                                       class="form-control"
                                       id="escola-new-password"/>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <label for="escola-new-password-2">
                                    Confirme nova palavra-chave
                                </label>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <input type="password"
                                       class="form-control"
                                       id="escola-new-password-2"/>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <div
                                        class="btn btn-success form-control"
                                        id="escola-new-password-btn">
                                    <i class="bi bi-database-down" style="padding: 9px;"></i>
                                    Alterar
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <button type="button" id="btn-escola-update" class="btn btn-danger">
                <i class="bi bi-pencil" style="padding: 9px;"></i>
                Alterar dados
            </button>
            <button type="button" id="btn-escola-cancel" class="btn btn-warning">
                <i class="bi bi-x-circle" style="padding: 9px;"></i>
                Cancelar
            </button>
            <button type="button" id="btn-escola-save" class="btn btn-success" disabled>
                <i class="bi bi-database-add" style="padding: 9px;"></i>
                Gravar
            </button>
        </div>
    </div>
    <div class="row">
        <div id="escolaDangerAlertContainer"
             class="alert alert-danger d-flex align-items-center visually-hidden" role="alert">
            <i class="bi bi-exclamation-triangle-fill" style="padding-right: 9px;"></i>
            <div id="escolaDangerAlertMsg"></div>
        </div>
    </div>
    <form id="escolaForm" onsubmit="return false;" autocomplete="off">
        <input type="hidden" name="id_escola" id="escola_id_escola" value=""/>
        <input type="hidden" name="action" id="escola_action" value="insert">
        <input type="hidden" name="controller" value="Escola"/>
        <div class="row row-generic">
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                <label class="form-label" for="escola_alvara">Alvará:</label><br/>
                <input data-flow="1:2"
                       type="text"
                       name="alvara"
                       id="escola_alvara"
                       value=""
                       class="form-control"
                       maxlength="5"
                       disabled
                />
            </div>
            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                <label class="form-label" for="escola_nome">Nome:</label><br/>
                <input data-flow="2:3"
                       type="text"
                       name="nome"
                       id="escola_nome"
                       value=""
                       class="form-control"
                       maxlength="125"
                       disabled
                />
            </div>
            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                <label class="form-label" for="escola_designacao">Designacao:</label><br/>
                <input data-flow="3:4"
                       type="text"
                       name="designacao"
                       id="escola_designacao"
                       value=""
                       class="form-control"
                       maxlength="125"
                       disabled
                />
            </div>
            <div class="col-lg-7 col-md-4 col-sm-6 col-xs-12">
                <label class="form-label" for="escola_morada">Morada:</label><br/>
                <input data-flow="4:5"
                       type="text"
                       name="morada"
                       id="escola_morada"
                       value=""
                       class="form-control"
                       maxlength="125"
                       disabled
                />
            </div>
            <div class="col-lg-1 col-md-4 col-sm-6 col-xs-12">
                <label class="form-label" for="escola_cpostal_1">C. Postal 1:</label><br/>
                <input data-flow="5:6"
                       type="number"
                       name="cPostal1"
                       id="escola_cpostal_1"
                       value=""
                       class="form-control"
                       maxlength="5"
                       disabled
                />
            </div>
            <div class="col-lg-1 col-md-4 col-sm-6 col-xs-12">
                <label class="form-label" for="escola_cpostal_2">C. Postal 2:</label><br/>
                <input data-flow="6:7"
                       type="number"
                       name="cPostal2"
                       id="escola_cpostal_2"
                       value=""
                       class="form-control"
                       maxlength="3"
                       disabled
                />
            </div>
            <div class="col-lg-3 col-md-8 col-sm-12 col-xs-12">
                <label class="form-label" for="escola_localidade">Localiade:</label><br/>
                <input data-flow="8:9"
                       type="text"
                       name="localidade"
                       id="escola_localidade"
                       value=""
                       class="form-control"
                       maxlength="50"
                       disabled
                />
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <label class="form-label" for="escola_telefone_1">Telefone 1:</label><br/>
                <input data-flow="9:10"
                       type="text"
                       name="telefone1"
                       id="escola_telefone_1"
                       value=""
                       class="form-control"
                       maxlength="20"
                       disabled
                />
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <label class="form-label" for="escola_telefone_2">Telefone 2:</label><br/>
                <input data-flow="10:11"
                       type="text"
                       name="telefone2"
                       id="escola_telefone_2"
                       value=""
                       class="form-control"
                       maxlength="20"
                       disabled
                />
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <label class="form-label" for="escola_telefone_3">Telefone 3:</label><br/>
                <input data-flow="11:12"
                       type="text"
                       name="telefone3"
                       id="escola_telefone_3"
                       value=""
                       class="form-control"
                       maxlength="20"
                       disabled
                />
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <label class="form-label" for="escola_fax">Fax:</label><br/>
                <input data-flow="12:13"
                       type="text"
                       name="fax"
                       id="escola_fax"
                       value=""
                       class="form-control"
                       maxlength="20"
                       disabled
                />
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <label class="form-label" for="escola_contribuinte">Contribuinte:</label><br/>
                <input data-flow="13:14"
                       type="text"
                       name="contribuinte"
                       id="escola_contribuinte"
                       value=""
                       class="form-control"
                       maxlength="20"
                       disabled
                />
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <label class="form-label" for="escola_email">Email:</label><br/>
                <input data-flow="14:15"
                       type="text"
                       name="email"
                       id="escola_email"
                       value=""
                       class="form-control"
                       maxlength="50"
                       disabled
                />
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <label class="form-label" for="escola_web">Web:</label><br/>
                <input data-flow="15:16"
                       type="text"
                       name="web"
                       id="escola_web"
                       value=""
                       class="form-control"
                       maxlength="50"
                       disabled
                />
            </div>
            <div class="col-lg-1 col-md-4 col-sm-6 col-xs-12">
                <label class="form-label" for="escola_dsv">DSV:</label>
                <input type="text"
                       name="DSV"
                       id="escola_dsv"
                       class="form-control"
                       value=""
                       maxlength="1"
                       data-flow="16:17"
                       disabled
                />
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <label class="form-check-label" for="escola_socio">Iva regime caixa:</label>
                <div class="form-check form-switch switch">
                    <input type="checkbox"
                           name="iva_regime_caixa"
                           id="escola_iva_regime_caixa"
                           class="form-check-input"
                           value="1"
                           checked
                           disabled
                    />
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <label class="form-check-label" for="escola_socio">Sócio:</label>
                <div class="form-check form-switch switch">
                    <input type="checkbox"
                           name="socio"
                           id="escola_socio"
                           class="form-check-input"
                           value="1"
                           checked
                           disabled
                    />
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <label class="form-check-label" for="escola_activo">Atcivo:</label>
                <div class="form-check form-switch switch">
                    <input type="checkbox"
                           name="activo"
                           id="escola_activo"
                           class="form-check-input"
                           value="1"
                           checked
                           disabled
                    />
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                <label class="form-check-label" for="escola_portal">Portal:</label>
                <div class="form-check form-switch switch">
                    <input type="checkbox"
                           name="portal"
                           id="escola_portal"
                           class="form-check-input"
                           value="1"
                           checked
                           disabled
                    />
                </div>
            </div>
        </div>
    </form>
</div>
