nbproject
/vendor
.settings
.settings/
.buildpath/
.project/
/.metadata
.idea
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
**/tmp/*.*
tmp/*
pids
logs
results

npm-debug.log
node_modules

test/temp
test/Screenshot/*.png
.phpunit.result.cache

side-suite-*
.phpunit.result.cache