<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         backupGlobals="true"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         bootstrap="test/bootstrap.php">
    <php>
        <ini name="display_errors" value="On"/>
        <ini name="display_startup_errors" value="On"/>
        <ini name="memory_limit" value="-1"/>
    </php>
    <testsuites>
        <testsuite name="logic">
            <directory>test</directory>
        </testsuite>
        <testsuite name="instrumentation">
            <directory>test_instrumentation</directory>
        </testsuite>
    </testsuites>

    <!--
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src</directory>
        </whitelist>
    </filter>
    -->
</phpunit>

