<li class="nav-item dropdown" id="offcanvas-list-geral">
    <a data-gx-menu-controller="Dashboard"
       data-gx-menu-tab=""
       class="dropdown-item menu-item"
       id="menu-geral-dashborad"
       href="#">
        <img src="/img/dashboard.png" style="padding-right: 9px;">
        Dashboard
    </a>
    <a data-gx-menu-controller="Facturacao"
       data-gx-menu-tab=""
       class="dropdown-item menu-item"
       id="menu-geral-facturacao"
       href="#">
        <img src="/img/facturacao.png" style="padding-right: 9px;">Facturação
    </a>
    <a data-gx-menu-controller="FacturacaoDetalhe"
       data-gx-menu-tab=""
       class="dropdown-item menu-item"
       id="menu-geral-facturacao"
       href="#">
        <img src="/img/facturacao.png" style="padding-right: 9px;">Facturação detalhe
    </a>
    <a data-gx-menu-controller="Candidato"
       data-gx-menu-tab=""
       class="dropdown-item menu-item"
       id="menu-geral-candidato"
       href="#">
        <img src="/img/User.png" style="padding-right: 9px;">Candidatos
    </a>
    <a data-gx-menu-controller="Exame"
       data-gx-menu-tab=""
       class="dropdown-item menu-item"
       id="menu-geral-exame"
       href="#">
        <img src="/img/exame.png" style="padding-right: 9px;">Exames teóricos/práticos
    </a>
    <a data-gx-menu-controller="ExameAll"
       data-gx-menu-tab=""
       class="dropdown-item menu-item"
       id="menu-geral-exame"
       href="#">
        <img src="/img/exame.png" style="padding-right: 9px;">Exames
    </a>
    <a data-gx-menu-controller="Licenca"
       data-gx-menu-tab=""
       class="dropdown-item menu-item"
       id="menu-geral-licenca"
       href="#">
        <img src="/img/exame.png" style="padding-right: 9px;">Licenças
    </a>
    <a data-gx-menu-controller="Escola"
           data-gx-menu-tab=""
           class="dropdown-item menu-item"
           id="menu-geral-escola"
           href="#">
        <img src="/img/Escola.png" style="padding-right: 9px;">Escola
    </a>
</li>
